<html lang="en" data-locale="nl-NL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto - Vue.js</title>

    <link rel="stylesheet" media="screen" href="/dist/css/main.css" />
</head>
<body>

<div class="js-app">
    <div class="grid"> <!-- v-if="coins.length" -->
        <section>
            <h1>Coins</h1>

            <!-- <input type="text" v-model="search" /> -->
            <select v-model.number="perPage">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">Market Cap</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Available Supply</th>
                        <th class="text-right">%24hr</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr is="component-coin"
                        v-for="coin in coinsOnPage"
                        v-bind:key="coin.short"
                        v-bind:coin="coin"
                        class="tick">
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <div class="sidebar">
                <!-- <component-detail v-bind:coin="activeCoinData" v-show="activeCoin"></component-detail>
                <component-chart
                    v-if="activeCoin"
                    v-bind:coin="activeCoinData">
                </component-chart> -->

                <h1>Watchlist</h1>

                <table v-if="watchlist.length">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Investment</th>
                            <th class="text-right">Amount</th>
                            <th class="text-right">Purchase Price</th>
                            <th class="text-right">Current Price</th>
                            <th class="text-right">Current Value</th>
                            <th class="text-right">Performance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr is="component-watchlist" v-for="watchitem in watchlist"
                            v-bind:long="watchitem.long"
                            v-bind:short="watchitem.short"
                            v-bind:price-purchase="watchitem.pricePurchase"
                            v-bind:price="watchitem.price"
                            v-bind:value="watchitem.value"
                            v-bind:amount="watchitem.amount"
                            v-bind:investment="watchitem.investment"
                            v-on:trade="update(trade)"></tr>
                    </tbody>
                </table>

                <h2>Add coin</h2>

                <!-- <form class="form" v-on:submit="onSubmitForm">
                    <select v-model="watchlistForm.coin" name="coin" required>
                        <option v-bind:value="coin.short" v-for="coin in coins">{{coin.long}}</option>
                    </select>
                    <input v-model.number="watchlistForm.investment" type="number" min="0" placeholder="Amount to invest ($)" name="investment" required>
                    <input type="submit" value="Add" class="button">
                </form> -->
            </div>
        </section>
    </div>
    <component-loader></component-loader>
    <component-pagination
        v-bind:total-pages="totalPages"
        v-bind:current-page="currentPage"
        v-bind:per-page="perPage">
    </component-pagination>
</div>

<script type="module" src="/dist/js/bundle.js" async></script>
</body>
</html>
