<html lang="en" data-locale="nl-NL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto - Vue.js</title>

    <link rel="stylesheet" media="screen" href="/dist/css/main.css" />
</head>
<body>

<div class="js-app">
    <div class="grid">
        <section>
            <h1>Coins</h1>
            <table v-if="coins.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">Market Cap</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Available Supply</th>
                        <th class="text-right">%24hr</th>
                    </tr>
                </thead>
                <tbody>
                    <tr is="component-coin" v-for="coin in coins" v-bind:coin="coin" v-on:show-chart="showChart" class="tick"></tr>
                </tbody>
            </table>
        </section>
        <section>
            <div class="sidebar">
                <component-chart v-bind:chart="chart"></component-chart>

                <h1>Watchlist</h1>

                <table v-if="watchlist.length">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Amount</th>
                            <th class="text-right">Purchase Price</th>
                            <th class="text-right">Current Price</th>
                            <th class="text-right">Value</th>
                            <th class="text-right">Performance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr is="component-watchlist" v-for="watchitem in watchlist" v-bind:watchitem="watchitem" v-on:trade="update(trade)"></tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <component-loader v-bind:is-loading="isLoading"></component-loader>
</div>

<script src="/dist/js/bundle.js" async></script>
</body>
</html>
