<html lang="en" data-locale="nl-NL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto - Vue.js</title>

    <link rel="stylesheet" media="screen" href="/dist/css/main.css" />
</head>
<body>

<div class="js-app">
    <section class="coins">
        <table v-if="coins.length">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-right">Market Cap</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Available Supply</th>
                    <th class="text-right">%24hr</th>
                </tr>
            </thead>
            <tbody>
                <tr is="component-coin" v-for="coin in coins" v-bind:coin="coin" class="tick"></tr>
            </tbody>
        </table>
    </section>
</div>

<script src="/dist/js/bundle.js" async></script>
</body>
</html>
