table {
	width: 100%;

	background: $color-branding-dark;
	border-collapse: collapse;
	border-spacing: 0;

	table-layout: fixed;

	th,
	td {
		padding: 0.6rem;

		border: 1px solid $color-branding;
	}

	th {
		position: sticky;
		top: 0;

		text-align: left;

		background: $color-branding-light;
		border-top: none;
	}

	tr:hover {
		background-color: $color-black;
	}
}
