$color-branding:		#262d33;
$color-branding-light:	#2f3a41;
$color-branding-dark:	#13181c;

$color-text:    		#d5d5d5;
$color-positive:		#7aca1b;
$color-negative:		#e81a7d;

$color-black:			#111;
$color-gray:			#ccc;
$color-gray-light:		#e4e4e4;

$distance-s:    		10px;
$distance-m:    		20px;
$distance-l:			30px;
$distance-xl:   		40px;
$distance-xxl:  		60px;
