$color-branding:	#9ab8d1;

$color-text:    	#333;
$color-positive:    #009744;
$color-negative:    #f30000;

$black:				#222;
$gray:				#ccc;
$gray-light:		#e4e4e4;

$distance-s:    	10px;
$distance-m:    	20px;
$distance-l:    	30px;
$distance-xl:   	40px;
$distance-xxl:  	60px;
