$color-branding:	#9ab8d1;

$color-text:    	#111;
$color-positive:    #009744;
$color-negative:    #f30000;

$gray:				#ccc;

$distance-s:    	10px;
$distance-m:    	20px;
$distance-l:    	30px;
$distance-xl:   	40px;
$distance-xxl:  	60px;
